* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

/* Global */

.section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.21em;
    color: #F54C1E;
    margin-bottom: 18px;
}

.section-subtitle {
    font-weight: 600;
    font-size: 38px;
    line-height: 140%;
    color: #031333;
}

.bg-block {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
}

/* Nav */

header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 22px 212px;
}

.logo {
    width: 88px;
    height: 52px;
}

nav ul {
    list-style: none;
    display: flex;
}

.li-item {
    margin-right: 40px; 
}

.li-a-item {
    color:#000000;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.home {
    text-decoration-line: underline;
    color: #F54C1E;
}

.button-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 42px;
    background: #F54C1E;
    border-radius: 5px;
    color:#FFFFFF;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
}

/* Main */

.main {
    display: flex;
    position: relative;
    height: 669px;
    background: #031333;
}

.dotted {
    position: absolute;
    width: 40px;
    height: 112px;
}

.dotw-right {
    top: 26px;
    right: 0;
}

.dotw-left {
    top: 531px;
    left: 0;
}

.main-texts {
    margin: 138px 224px;
}

.m-text  {
    width: 565px;
    height: 243px;
    font-weight: 700;
    font-size: 58px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 23px;
}

.m-subtext {
    width: 470px;
    height: 52px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #F4F3F3;
    margin-bottom: 23px;
}

.orange-word {
    color: #F54C1E;
}

.button-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 164px;
    height: 52px;
    background: #F54C1E;
    border-radius: 2px;
    color: #F4F3F3;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
}

.img-man {
    position: absolute;
    bottom: 0;
    right: 145px;
    width: 660.92px;
    height: 614px;
}

/* Services */

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px;
    height: 394px;
    margin: 140px;
}

.tf-up {
    text-transform: uppercase;
}

.service-block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
    padding: 0px;
    gap: 110px;
    width: 1099px;
    height: 227px;
    margin-top: 76px;
}

.serv-title {
    height: 28px;
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
    color: #031333;
    margin: 34px 0 15px 0;
}

.serv-text {
    height: 90px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #949494;
}

/* About */

.about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-img {
    position: relative;
    margin-right: 72px;
}

.dotsq {
    position: absolute;
    width: 112px;
    height: 112px;
    right: 405px;
    top: 340px;
}

.about-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 26px;
    width: 510px;
}

.asub-title {
    width: 510px;
    height: 134px;
    font-weight: 600;
    font-size: 48px;
    line-height: 140%;
    color: #031333;
}

.about-text {
    width: 500px;
    height: 104px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #818181;
}

.button-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 255px;
    height: 57px;
    background: #F54C1E;
    border-radius: 2px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    text-decoration: none;
}

/* Business services */

.business-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1010px;
    background: #031333;
    margin: 140px 0 140px 0;
}

.light {
    color: #FFFFFF;
}

.business-text {
    width: 662px;
    height: 67px;
    font-weight: 600;
    font-size: 48px;
    line-height: 140%;
    color: #FFFFFF;
}

.business-block {
    display: flex;
    flex-direction: row;
    height: 639px;
    margin-top: 74px;
}

.business-item {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 514px;
    height: 639px;
    margin-right: 52px;
}

.bs-first {
    background-image: url(../img/work2.png);
}

.bs-second {
    background-image: url(../img/work3.png); 
}

.business-item::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0.50deg, #FD5C30 0.30%, rgba(0, 0, 0, 0) 80%);
}

.bs-block-title {
    width: 293px;
    height: 42px;
    font-weight: 600;
    font-size: 30px;
    line-height: 140%;
    color: #FFFFFF;
    margin: 370px 0 20px 37px;
}

.bs-block-text {
    width: 388px;
    height: 123px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    margin-left: 37px;
}

.business {
    position: absolute;
    z-index: 2;
}

/* Who we are */

.who-we {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 490px;
} 

.diagonal-container {
    position: relative;
    width: 480px;
    height: 490px;
    margin-right: 76px;
}
  
.diagonal-container img {
    position: absolute;
}
  
.diagonal-container img:nth-child(1) {
    top: 0;
    left: 0;
}
  
.diagonal-container img:nth-child(2) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.diagonal-container img:nth-child(3) {
    bottom: -18px;
    right: -25px;
}
  
.ww-container {
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 565.34px;
    height: 435px;
}

.ww-subtitle {
    width: 578px;
    height: 134px;
    font-weight: 600;
    font-size: 48px;
    line-height: 140%;
    color: #031333;
    margin-bottom: 29px;
}

.ww-text {
    width: 503px;
    height: 88px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #818181;
    margin-top: 29px;
}

.ol-list {
    width: 343px;
    height: 118px;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #989898;
    padding: 20px;
}

.ol-li-item {
    margin-bottom: 32px;
}

/* Latest Project & Case */

.latest-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 140px 0 130px 0;
}

.projects-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.projects-item {
    width: 371px;
    height: 464px;
    margin-top: 86px;
}

.projects-item::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0.50deg, #FD5C30 0.30%, rgba(0, 0, 0, 0) 80%);
}

.project {
    position: absolute;
    z-index: 2;
    padding: 302px 0 0 43px;
}

.pr-block-title {
    width: 293px;
    height: 42px;
    font-weight: 600;
    font-size: 30px;
    line-height: 140%;
    color: #FFFFFF;
}

.pr-block-text {
    width: 291px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    padding-top: 10px;
}


.pr-first {
    background-image: url(../img/work5.png);
}

.pr-second {
    background-image: url(../img/work7.png);
}

.pr-third {
    background-image: url(../img/work6.png);
}

.pr-fourth {
    background-image: url(../img/work8.png);
}

/* Consultation */

.consultations {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 380px;
    background-image: url(../img/work9.png);
    background-color: rgba(3, 19, 51, 0.7);
    background-blend-mode: multiply;
    background-size: cover;
}

.consult-title {
    width: 649px;
    height: 126px;
    font-weight: 700;
    font-size: 42px;
    line-height: 149.5%;
    color: #FFFFFF;
    margin-right: 198px;
}

.button-consult {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F54C1E;
    border-radius: 2px;
    width: 284px;
    height: 78px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    color: #FFFFFF;
    text-decoration: none;
}

/* Meet Our Team */

.team {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 692px;
    margin: 130px 0 130px 0;
}

.dots {
    position: absolute;
    height: 112px;
    width: 60px;
}

.right {
    top: 0;
    right: 0;
}

.left {
    bottom: -30px;
    left: 0;
}

.block-team {
    display: flex;
    margin-top: 80px;
}

.member {
    width: 370px;
    height: 520px;
    border: 1px solid #F5F5F5;
    border-radius: 12px;
    margin-right: 30px;
}

.member-texts {
    margin: 26px 0 0 25px;
}

.member-name {
    height: 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #071440;
    margin-bottom: 15px;
}

.member-post {
    width: 178px;
    height: 18px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #676972;
}

/* Newsletter */

.newsletter {
    position: relative;
    height: 327px;
}

.block-center {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1264px;
    height: 327px;
    background: #F3F3F3;
}

.block-letter {
    width: 539px;
    height: 159px;
    border-right: 1px solid #000000;
    color: #000000;
}

.newsletter-title {
    height: 90px;
    font-weight: 600;
    font-size: 28px;
    line-height: 159.5%;
    margin-bottom: 20px;
}

.newsletter-text {
    width: 490.85px;
    height: 49px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
}

.button-newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 177px;
    height: 54px;
    background: #F54C1E;
    border-radius: 2px;
    font-family: 'Lato',sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 80px;
}

/* Footer */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 412px;
    background: #031333;
    margin-top: 105px;
}

.block-info {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 341px;
    height: 240px;
    color: #FDFDFD;
    margin-right: 109px;
}

.info-text {
    width: 310px;
    height: 72px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
}

.social {
    display: flex;
    justify-content: space-between;
    width: 206px;
    height: 50px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 533px;
    height: 266px;
    font-family: 'Nunito Sans',sans-serif;
    color: #FFFFFF;
}

.nav-block {
    display: flex;
    flex-direction: column;
}

.nav-title {
    width: 79px;
    height: 36px;
    font-weight: 700;
    font-size: 20px;
    line-height: 180%;
    margin-bottom: 30px;
}

.nav-li-item {
    list-style: none;
    height: 32px;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    margin-bottom: 24px;
}
