.battery {
  position: relative;
  width: 200px;
  height: 100px;
  border: 2px solid #000;
  margin-bottom: 10px;
}

.battery::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 30%;
  border: 1px solid #000;
}

.battery.red::before {
  background-color: red;
}

.battery.yellow::before {
  background-color: yellow;
  width: 60%;
}

.battery.green::before {
  background-color: green;
  width: 98%;
}
